@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");
body,
p,
a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #333333;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #333333;
}

/* -- --------------------
Sroll To Top on Click 
----------------------
*/
.scrollToTop {
  z-index: 9999;
  text-align: center;
  background: #B88E2F;
  color: #fff;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none !important;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.scrollToTop.d-block {
  display: block !important;
}
.scrollToTop button {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollToTop button i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}
.scrollToTop:hover {
  text-decoration: none;
  background-color: #B88E2F;
}

/* -- --------------------
tap-call 
----------------------
*/
.mobile-call-button {
  position: fixed;
  bottom: 80px;
  right: 30px;
  text-align: center;
  z-index: 99;
  width: 40px;
  height: 40px;
  background: #B88E2F;
  border-radius: 50%;
  display: none;
}
@media screen and (max-width: 767px) {
  .mobile-call-button {
    display: block;
  }
}
.mobile-call-button a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-call-button a i {
  padding: 3px;
  font-size: 18px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .scrollToTop,
  .mobile-call-button {
    right: 10px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  display: block;
  font-size: 14px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

figure {
  margin: 0;
}

img {
  width: 100%;
  transition: 0.4s all;
}

p {
  line-height: 1.5;
}

a {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: block;
  overflow: hidden;
  transition: 0.4s all;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  outline: none;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-border-right {
  border-right: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.padding {
  padding: 40px 0;
}

@media screen and (max-width: 767px) {
  .padding {
    padding: 30px 0;
  }
}
@media screen and (max-width: 576px) {
  .padding {
    padding: 15px 0;
  }
}
@media screen and (max-width: 480px) {
  .padding {
    padding: 10px 0;
  }
}
section {
  position: relative;
}

.section-padding {
  padding: 80px 0px;
}

.block-heading {
  font-size: 28px;
  color: #000000;
  font-weight: 700;
}

.main-description {
  font-size: 18px;
  color: #000000;
}

.sub-description {
  font-size: 16px;
  color: #666666;
}

@media screen and (max-width: 992px) {
  .section-padding {
    padding: 40px 0px;
  }
}
@media screen and (max-width: 576px) {
  .section-padding {
    padding: 30px 0px;
  }
}
.btn-primary {
  border: none;
  color: #FFFFFF;
  background-color: #B88E2F;
  border-radius: 10px;
  padding: 15px 45px;
  font-size: 12px;
}
.btn-primary:hover {
  background-color: #8f6f25;
  transform: scale(1.05);
}

.btn-secondary {
  background-color: #FFFFFF;
  border: 2px solid #B88E2F;
  color: #B88E2F;
  padding: 10px 70px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}

header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}
header .navbar .navbar-brand {
  width: 150px;
}
header .navbar .navbar-toggler {
  background-color: white;
  border-radius: 3px;
  border: 1px solid #666666;
}
header .navbar .offcanvas .offcanvas-header img {
  margin-left: 40px;
  width: 100px;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav {
  margin-left: 150px;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
  padding-left: 60px;
  color: #000000;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link .fas {
  font-size: 1rem;
}
header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item.active .nav-link, header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item:hover .nav-link {
  color: #B88E2F;
}
header .navbar .offcanvas .offcanvas-body .nav-btn {
  margin-left: 40px;
}

@media screen and (max-width: 992px) {
  header .navbar {
    padding: 10px 0px;
  }
  header .navbar .navbar-brand {
    width: 180px;
  }
  header .navbar .navbar-toggler {
    border-radius: 10px;
  }
  header .navbar .offcanvas .blur-hero {
    display: block;
  }
  header .navbar .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    padding: 5px 10px;
    color: black;
  }
  header .navbar .offcanvas .offcanvas-body .nav-btn {
    margin-left: 0px;
    margin-top: 30px;
  }
}
.banner {
  height: 100vh;
  width: 100%;
  margin-top: 65px;
  background-image: url("../images/bannerimage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner .container .banner-content {
  position: absolute;
  right: 80px;
  bottom: 100px;
  border-radius: 10px;
  background-color: #FFF3E3;
  z-index: 3;
  padding: 60px 50px;
  padding-bottom: 30px !important;
}
.banner .container .banner-content .top-content {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15rem;
}
.banner .container .banner-content .main-title {
  color: #B88E2F;
  font-weight: 700;
  margin-top: 10px;
}
.banner .container .banner-content .description {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}
.banner .container .banner-content .btn-primary {
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .banner {
    padding: 80px 0px 30px 0px;
  }
  .banner .hero-banner {
    flex-direction: column;
  }
  .banner .hero-banner .hero-baner-content {
    width: 100%;
    margin: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .baner-title {
    font-size: 38px;
  }
  .banner .hero-banner .hero-baner-content .main-description {
    padding: 20px 0px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-primary {
    border-radius: 5px 5px 5px 30px;
    margin-right: 30px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-primary:hover {
    border-radius: 5px 30px 5px 5px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-secondary {
    border-radius: 5px 30px 5px 5px;
  }
  .banner .hero-banner .hero-baner-content .banner-btn .btn-secondary:hover {
    border-radius: 5px 5px 5px 30px;
  }
  .banner .hero-banner .hero-banner-image {
    width: 100%;
    height: 300px;
  }
  .banner .hero-banner .hero-banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 10px 200px;
  }
  .banner .hero-banner .hero-banner-image img:hover {
    margin-top: 10px;
  }
}
.index-about {
  padding-bottom: 0 !important;
}
.index-about .container {
  text-align: center;
}
.index-about .container .main-description {
  margin-top: 10px;
}
.index-about .container .row {
  margin-left: 100px;
  width: 90%;
  margin-top: 50px;
  padding: 0 40px;
}
.index-about .container .row .card-img-top {
  border-radius: 10px;
  height: 450px;
  object-fit: cover;
}
.index-about .container .row .card {
  border: none;
}
.index-about .container .row .card-title {
  margin-top: 10px;
  font-weight: 600;
  font-size: 19px;
}

.index-product {
  padding-top: 20px !important;
}
.index-product .container .text-center {
  font-size: 38px;
  font-weight: 700;
}
.index-product .container .row .card {
  border: none;
  background-color: #F4F5F7;
  padding-bottom: 20px;
  margin-top: 30px;
}
.index-product .container .row .card .badge {
  border-radius: 50%;
  padding: 15px 10px;
}
.index-product .container .row .card .badge.custom-badge {
  background-color: #E97171;
}
.index-product .container .row .card .badge.custom {
  background-color: #2EC1AC;
}
.index-product .container .row .card .card-img-top {
  height: 300px;
  object-fit: cover;
}
.index-product .container .row .card .card-body .card-title {
  font-size: 22px;
  font-weight: 700;
}
.index-product .container .row .card .card-body .card-text {
  font-size: 16px;
  color: #898989;
}
.index-product .container .row .card .card-body .card-price {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 600;
}
.index-product .container .row .card .card-body .card-price del {
  margin-left: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #898989;
}
.index-product .container .button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.index-explore {
  background-color: #FCF8F3;
}
.index-explore .container .explore-content {
  padding: 80px 30px;
  width: 40%;
}
.index-explore .container .explore-content .block-heading {
  font-size: 35px;
}
.index-explore .container .explore-content .main-description {
  font-size: 16px;
  margin-top: 10px;
  color: #616161;
}
.index-explore .container .explore-content .btn {
  margin-top: 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.index-gallery {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.index-gallery .gallery-text {
  text-align: center;
}
.index-gallery .gallery-text .sub-heading {
  font-size: 17px;
  color: #616161;
  font-weight: 600;
}
.index-gallery .gallery-text .block-heading {
  margin-top: 10px;
}
.index-gallery .grid-container {
  display: grid;
  grid-template-columns: repeat(5, auto); /* 5 columns */
  column-gap: 2px;
  row-gap: 10px;
  padding: 10px;
}
.index-gallery .grid-container .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.index-gallery .grid-container .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.index-gallery .grid-container .g1 img {
  height: 280px;
  width: 70px;
  position: relative;
  left: -70px;
  top: -50px;
}
.index-gallery .grid-container .g2 {
  position: relative;
  right: 90px;
  top: -30px;
  height: 300px;
  width: 450px;
}
.index-gallery .grid-container .g3 {
  position: relative;
  width: 300px;
  right: 100px;
  top: 80px;
  height: 390px;
}
.index-gallery .grid-container .g4 {
  position: relative;
  width: 300px;
  height: 350px;
  right: 120px;
  top: 30px;
}
.index-gallery .grid-container .g5 {
  position: relative;
  width: 260px;
  height: 440px;
  right: 140px;
  top: -60px;
}
.index-gallery .grid-container .g6 {
  position: relative;
  bottom: 200px;
}
.index-gallery .grid-container .g7 {
  position: relative;
  width: 350px;
  height: 200px;
  bottom: 200px;
  right: -20px;
}
.index-gallery .grid-container .g8 {
  position: relative;
  left: 180px;
  height: 250px;
  width: 200px;
  top: -90px;
}
.index-gallery .grid-container .g9 {
  position: relative;
  left: 60px;
  top: -90px;
  height: 190px;
  width: 200px;
}

.footer {
  padding: 50px 0;
  font-family: "Public Sans", sans-serif;
  border-top: 1px solid #ddd;
}
.footer .footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-top: 30px !important;
}
.footer .footer-content .footer-section {
  flex: 1;
  margin: 0px 20px;
}
.footer .footer-content .footer-section .company-name {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 50px;
}
.footer .footer-content .footer-section address {
  font-size: 14px;
  color: #9F9F9F;
  line-height: 1.5;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
}
.footer .footer-content .footer-section ul li {
  padding-bottom: 50px;
}
.footer .footer-content .footer-section ul li strong {
  font-size: 16px;
  color: #9F9F9F;
  font-weight: 500;
}
.footer .footer-content .footer-section ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
.footer .footer-content .footer-section ul li a:hover {
  color: #333;
}
.footer .footer-content .links {
  padding-left: 70px !important;
}
.footer .footer-content .newsletter strong {
  color: #9F9F9F;
  font-weight: 500;
  margin-bottom: 20px;
}
.footer .footer-content .newsletter form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer .footer-content .newsletter form input {
  padding: 10px;
  width: 250px;
  border: none;
  border-bottom: 2px solid #000000;
  margin-right: 10px;
  font-size: 14px;
}
.footer .footer-content .newsletter form input::placeholder {
  color: #9F9F9F;
  opacity: 1;
}
.footer .footer-content .newsletter form button {
  background-color: #B88E2F;
  color: #FFFFFF;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}
.footer .footer-content .newsletter form button:hover {
  background-color: #a77d4b;
}
.footer .footer-bottom {
  padding: 40px 0;
}
.footer .footer-bottom p {
  font-size: 16px;
  color: #000000;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
