//Fonts
$font-family: "Poppins", sans-serif;




//website  Colors variable
$primaryColor: #B88E2F;
$liteprimaryColor: #FAF3EA;
$secondaryColor: #FFF3E3;
$black: #000000;
$text-color:#333333;
$t-color: #666666;
$bg: #FCF8F3;
$liteColor:#F9F1E7;
$white:#FFFFFF;