.index-gallery{
  .container{
    .gallery-text{
      text-align: center;
      .sub-heading{
        font-size: 17px;
        color: #616161;
        font-weight: 600;
      }
      .block-heading{
        margin-top: 10px;
      }
    }
  }
}