.index-product{
  padding-top: 20px !important;
  .container{
    .text-center{
      font-size: 38px;
      font-weight: 700;
    }
    .row{
      .card{
        border: none;
        background-color: #F4F5F7;
        padding-bottom: 20px;
        margin-top: 30px;
        .badge{
          border-radius: 50%;
          padding: 15px 10px;
          &.custom-badge{
            background-color: #E97171;
          }
          &.custom{
            background-color: #2EC1AC;
          }
        }
        .card-img-top{
          height: 300px;
          object-fit: cover;
        }
        .card-body{
          .card-title{
            font-size: 22px;
            font-weight: 700;
          }
          .card-text{
            font-size: 16px;
            color: #898989;
          }
          .card-price{
            margin-top: 10px;
            font-size: 17px;
            font-weight: 600;
           
            del{
              margin-left: 20px;
              font-weight: 400;
              font-size: 14px;
              color: #898989;
            }
          }
        }
      }
    }
    .button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 2rem; 
    }
  }
}



