.btn-primary{
  border: none;
 color:$white ;
 background-color: $primaryColor;
 border-radius: 10px;
 padding:15px 45px;
 font-size: 12px;
 &:hover {
  background-color: darken($primaryColor, 10%); 
  transform: scale(1.05); 
}
}
.btn-secondary{
  background-color:$white ;
  border: 2px solid $primaryColor;
  color: $primaryColor;
  padding: 10px 70px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
}